*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  $primary: #6d3478;
  $big-size: 6rem;
 
@mixin flex($direction, $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  } 