.main-head{
    width: 95%;
    margin: 0 0 0 auto;
}

nav {
    @include flex(space-between, center, row);
    min-height: 10vh;
    width: 60%;
    flex-wrap: wrap;
    .logo {
        @include flex(flex-start,center,row);
        flex: 1 1 10rem;
        h1{
            margin: 2rem;
        }
    }
    ul {
        @include flex(space-around,center,row);
        flex: 1 1 40rem;
    }
}

.intro {
    min-height: 90vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    @include flex(space-between,center,row);
    h2{
        font-size: 8rem;
        padding-top: 2rem;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    h3{
        font-size: 6rem;
        padding: 2rem 0rem;
    }
    p{
        padding-top: 2rem;
        color: $gray-text;
    }
}

.splash{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    z-index: -1;
}

.intro-social{
    margin-top: 4rem;
    a{
        margin-right: 5rem;
    }
}

.active{
    background: $gray-text;
    color: white;
    padding: 1rem 3rem;
    border-radius: 2rem;
}

.intro-text,
.intro-images{
    flex: 1 1 40rem;
}

#Smoke{
    animation: smoke 7s ease-out infinite normal;
}

#Head{
    animation: head 2s ease-in-out infinite alternate;
    transform-origin: center;
} 

#Body{
    animation: body 3s ease-in-out infinite alternate;
}

#clock-arrow{
    animation: arrow 3s linear infinite;
    transform-box: fill-box;
    transform-origin: bottom;
}

@keyframes smoke{
    0%{
        transform: translateY(50%);
        opacity: 1;
    }
    50% {
        transform: translateY(0%);
        opacity: 0.9;
    }
    100%{
        transform: translateY(-5%);
        opacity: -1;
    }
}

@keyframes head {
    from{
        transform: rotateZ(1deg);
    }
    to {
        transform: rotateZ(-1deg);
    }
}

@keyframes body{
    from{
        transform: translateY(0.5rem);
    }
    to{
        transform: translateY(-0rem);
    }
}

@keyframes arrow {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

